@charset "utf-8";
/* CSS Document */
html{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;color:#000;overflow-x:hidden;overflow-y:scroll;background:#fff;_background-image:url(about:blank);_background-attachment:fixed;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px 微软雅黑, Arial, helvetica, sans-serif;background:#fff;}
img{border:none;}ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,button,textarea,select{font-weight:inherit;font-size:100%;vertical-align:middle;outline:none;}
a{color:#000;text-decoration:none;outline:none;}
a:hover{color:#000;text-decoration:underline;}
a:active{color:#c00;}a.gred{color:#adadad;}
table{border-collapse:collapse; border-spacing: 0;}
.block{width:980px;clear:both;margin:0 auto;}
.fix:after{content:"."; display:block; height:0;clear:both;visibility:hidden;}
*html .fix{height:1%;}*+html .fix{height:1%;}.mt15{margin-bottom:15px;}.pt10{padding-top:10px;}
.text-l{text-align:left;}.text-c{text-align:center;}.text-r{text-align:right;}
a.blue,*.blue,.blue a{color:#177ee7;}a.red,*.red{color:#d60303;}.clear{clear:both;}
span.green{color:#090;}
html i,html em{font-style:normal;}a.line,*.line{text-decoration:underline;}
input.txt{height:20px;width:170px;border:1px solid #bfbfbf;background:#fff;color:#4f4f4f; vertical-align:middle;}

header{height:60px;background:#eee;background:-moz-linear-gradient(top, #f9f9f9, #eee 50%);background:-webkit-gradient(linear, 0 0, 0 50%, from(#f9f9f9), to(#eee));
border-bottom:1px solid #c9c9c9;}
.wrapper{width:800px;margin:0 auto;}
h1.logo{padding-top:10px;font-family:Verdana, Geneva, sans-serif;text-shadow:1px 1px 1px #fff;}
h1.logo a{color:#79B30B;font-size:30px;}h1.logo a:first-letter{font-size:40px;}
h1.logo span{margin-left:10px;color:#999;}
.toMap{margin:20px auto;height:35px;line-height:35px;text-indent:10px;font-size:16px;color:#333;border:1px solid #ddd;border-radius:3px;background:#FEFFBB;}
.toMap a{color:#06F;text-decoration:underline;}
.timeLine{padding-top:10px;}
.timeLine p{margin-bottom:5px;color:#666;}
.timeLine p a{color:#666;border-bottom:1px dotted #ccc;}
.timeLine p a:hover{color:#06F;}
.timeLine ul{margin-bottom:15px;padding-bottom:15px;clear:both;}
.timeLine ul h3{font-family:Georgia, "Times New Roman", Times, serif;color:#666;font-size:25px;margin-bottom:10px;}
.timeLine ul h3 span{font-weight:normal;font-size:12px;color:#999;margin-left:10px;}
.timeLine ul a{display:block;float:left;margin:0 15px 20px 0;height:130px;padding:3px;border:1px solid #ccc;border-radius:5px;box-shadow:5px 5px 10px #ccc;background:#f9f9f9;position:relative;-moz-transition: all 0.2s ease-in-out 0s;-webkit-transition: all 0.2s ease-in-out 0s;z-index:5;}
	.timeLine ul a:nth-child(2){-moz-transform:rotate(-3deg);-webkit-transform:rotate(-3deg);}
	.timeLine ul a:nth-child(3){-moz-transform:rotate(2deg);-webkit-transform:rotate(2deg);}
	.timeLine ul a:nth-child(4){-moz-transform:rotate(-3deg);-webkit-transform:rotate(-3deg);}
	.timeLine ul a:nth-child(5){-moz-transform:rotate(4deg);-webkit-transform:rotate(4deg);}
	.timeLine ul a:nth-child(6){-moz-transform:rotate(-5deg);-webkit-transform:rotate(-5deg);}
	.timeLine ul a:nth-child(7){-moz-transform:rotate(2deg);-webkit-transform:rotate(2deg);}
	.timeLine ul a:nth-child(8){-moz-transform:rotate(-2deg);-webkit-transform:rotate(-2deg);}
	.timeLine ul a:nth-child(9){-moz-transform:rotate(1deg);-webkit-transform:rotate(1deg);}
	.timeLine ul a:nth-child(10){-moz-transform:rotate(-2deg);-webkit-transform:rotate(-2deg);}
	.timeLine ul a:nth-child(11){-moz-transform:rotate(4deg);-webkit-transform:rotate(4deg);}
	.timeLine ul a:nth-child(12){-moz-transform:rotate(-3deg);-webkit-transform:rotate(-3deg);}
	.timeLine ul a:nth-child(13){-moz-transform:rotate(2deg);-webkit-transform:rotate(2deg);}
	.timeLine ul a:nth-child(14){-moz-transform:rotate(-3deg);-webkit-transform:rotate(-3deg);}
	.timeLine ul a:nth-child(15){-moz-transform:rotate(4deg);-webkit-transform:rotate(4deg);}
	.timeLine ul a:hover{border:1px solid #a40000;z-index:8;-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-webkit-transform: scale(1.7);-moz-transform: scale(1.7);transform: scale(1.7);}
	.timeLine ul a:hover span{-webkit-transform: scale(0.7);-moz-transform: scale(0.7);transform: scale(0.7);}
	.timeLine iframe{border:10px solid #efefef;border-radius:5px;margin-bottom:10px;}
.timeLine ul a img{height:130px;-moz-transition: all 0.2s ease-in-out 0s;-webkit-transition: all 0.2s ease-in-out 0s;}
	.timeLine ul a:hover img{opacity:0.8;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.timeLine ul a span img{height:auto;}
.timeLine ul a:hover span img{height:auto;opacity:1;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.timeLine ul a span{font-size:13px;line-height:19px;display:block;padding:3px 0 3px 0;border-radius:0 0 5px 5px;width:100%;background:#000;color:#fff;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;-moz-transition: all 0.2s ease-in-out 0s;-webkit-transition: all 0.2s ease-in-out 0s;position:absolute;bottom:0;left:0;}
.timeLine ul a:hover span{z-index:11;opacity: 0.7;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
.timeLine ul a i{padding:0 5px;background:#fff;border-radius:3px;border:1px solid #ccc;position:absolute;z-index:10;text-align:center;color:#666;font-family:Tahoma, Geneva, sans-serif;font-size:10px;opacity: 0.8;-moz-transition: all 0.2s ease-in-out 0s;-webkit-transition: all 0.2s ease-in-out 0s;top:10px;left:-15px;}
.timeLine ul a:hover i{opacity:1;font-size:14px;top:0;left:-50px;}
.mapArea{margin-top:30px;}
footer{clear:both;padding-top:5px;margin-top:15px;border-top:1px dotted #ccc;text-align:center;}
footer p{color:#666;font-family:Arial, Helvetica, sans-serif;line-height:19px;}
footer a{color:#666;border-bottom:1px dotted #ccc;}

.weTalk{width:780px;margin:0 auto;border:3px dashed #ddd;padding:10px;background:url(../photo/bq.png) no-repeat 760px 15px;}
.weTalk p{font-size:14px;line-height:38px;color:#333;}
.weTalk a{color:#06F;}